H1{
    color:rgb(212, 25, 72);
     padding:0px;
     font-family:;
     font-size:35pt;
 }
 H2{
     color:rgb(41, 0, 226);
     padding:0px;
     font-family:helvetica;
 }
 H3{
     color:rgb(212, 25, 72);
     padding:0px;
 }
 h4{
     color:rgb(41, 0, 226);
     padding:0px;
 }

 body{
     background-color: lavender;
     color:rgb(41, 0, 226);
     font-family:;
 }
 
 P.dos{
     color:rgb(41, 0, 226);
     font-size:12pt;
     font-family: 'arial';
 }




 #lista{
    list-style: none;
    }

/*NAVEGACIÓN*/
 #nav{
    height:10%;
    background-color: lavenderblush;
    border-radius:1em;
    margin:1em;
}

a{
    text-decoration:none;
    color:rgb(49, 49, 250);
    font-size:18pt;
    font-family: montserrat-bold;
 }

/* a:hover define el estilo del texto con el enlace cuando pasemos el cursor por encima*/
a:hover{
    text-decoration:underline;
    color:rgb(240, 125, 163);
}
#link{
    text-decoration:none;
    color:rgb(86, 86, 255);
    font-size:18pt;
    font-weight:bolder;
    float: left;
    padding:10px;
    font-family: Arial;
    position: relative;
    top: 0.5em;
    left:0.5em;
}
#link:hover{
    text-decoration:underline;
    color:rgb(70, 67, 253);
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    padding:35px 35px;
}
